{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block search %}
<form class="search" method="post" action="/artists/search">
	<input class="form-control"
		   type="search"
		   name="search_term"
		   placeholder="Find a venue"
		   aria-label="Search">
</form>
{% endblock %}

{% block content %}
<ul class="items">
	{% for artist in artists %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>{{ artist.name }}</h5>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}